$containerBackground: #f8f8f8;
$fontStack: "Arial";


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $fontStack;
}



.home {
    width: 100%;
    height: 100vh;

    .container {
        background-color: #d1d1d1;
        width: 100%;
        height: 100%;
        display: flex;
        
        // ===== Side Navbar
        .sideNavbar{
            display: flex;
            flex-direction: column;
            width: 5%;
            .profile {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                background-color: #141A26;
                height: 15%;
                img {
                    width: 60px;
                    border-radius: 50%;
                    border: 1px solid #d13c3c;
                }
            }
            
            .sections {
                padding-top: 30px;
                height: 70%;
                background-color: #181F2E;
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 25px;
            }

            .actions {
                height: 15%;
                background-color: #202A3F;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 5px;
            }
        }
        .chatSidebar{
            background-color: yellow;
            width: 25%;
            ::-webkit-scrollbar {
                width: 16px;
            }
            
            ::-webkit-scrollbar-track {
                background-color: transparent;
            }
            
            
            ::-webkit-scrollbar-thumb {
                border-radius: 8px;
                border: 3px solid transparent;
                background-clip: content-box;
                background-color: #d55959;
            }
            
            ::-webkit-scrollbar-thumb:active {
                background-color: #d13c3c;
            
            }

            // ============= Search Bar Start
            .searchContainer{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                height: 15%;
                background-color: #E2EEF7;
                
                .searchForm {
                    height: 40px;
                    width: 95%;
                    background-color: #fff;
                    border-radius: 25px;
                    border: 1px solid rgb(184, 184, 184);
                    display: flex;
                    flex-direction: row;
                    // justify-content: center;
                    align-items: center;
                    padding: 5px 10px;
                    gap: 10px;

                    input {
                        width: 80%;
                        border: none;
                        outline: none;
                        font-size: 16px;
                    }
                }

            }
            // ============= Search Bar End


            .userChats{
                background-color: #EBF4FB;
                height: 85%;
                padding: 15px;
                overflow-y: scroll;

                .userInfo{
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    padding-bottom: 15px;
                    border-bottom: 1px solid rgb(184, 184, 184);

                    .userProfile {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                    }

                

                    .userDetails {
                        display: flex;
                        width: 100%;
                        flex-wrap: wrap;
                        padding: 10px;
                        .userName {
                            font-size: 18px;
                            font-weight: 600;
                            width: 70%;
                        }
                        .messageTime {
                            color: #646464;
                            width: 30%;
                        }
                        .messageText{
                            color: #646464;
                            margin-top: 10px;
                        }
                    }

                }
            }
        }
        
        .chatBox {
            background-color: #FFFFFF;
            width: 70%;
            padding: 25px;

            .chatHeader {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 20px;
                border-bottom: 1px solid rgb(184, 184, 184);
                
                .callAction {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }

            .chatBody {
                height: 75%;
            }

            .messageInput {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 20px 0;
                border-top: 1px solid rgb(184, 184, 184);
                width: 100%;
                .inputFeild{
                    width: 90%;
                    input{
                        width: 100%;
                        height: 50px;
                        font-size: 18px;
                        border: none;
                        appearance: none;
                        background-color: transparent;
                        outline: none;
                    }
                }
            }
        }
    }
}


// ====================== Media Query ======================

// For Mobile Screen
@media screen and (max-width: 425px) {
    .formContainer .formWrapper {
        padding: 10px !important;
        flex-direction: column-reverse !important;
        
        form .title {
            text-align: center !important;
        }
    }
    
    .formImage{
        align-items: center;
        img{
            width: 150px !important;
        }
 
    }

}
