$containerBackground: #f8f8f8;
$fontStack: "Arial";


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $fontStack;
}

.notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;

    button{
        padding: 10px 15px;
        font-size: 18px;
        outline: none;
        border: none;
        cursor: pointer;
        background-color: lightblue;
    }
}

.home {
    width: 100%;
    height: 100vh;

    .container {
        background-color: #d1d1d1;
        width: 100%;
        height: 100%;
        display: flex;
        
        // ===== Side Navbar
        .sideNavbar{
            display: flex;
            flex-direction: column;
            width: 5%;
            .profile {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                background-color: #141A26;
                height: 10%;
                img {
                    width: 60px;
                    border-radius: 50%;
                    border: 1px solid #d13c3c;
                }
            }
            
            .sections {
                padding-top: 30px;
                height: 70%;
                background-color: #181F2E;
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 25px;
            }

            .actions {
                height: 15%;
                background-color: #202A3F;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 5px;
            }
        }
        .chatSidebar{
            width: 25%;
            ::-webkit-scrollbar {
                width: 8px;
            }
            
            ::-webkit-scrollbar-track {
                border-radius: 8px;
                background-color: #c1c2c5;
            }
            
            
            ::-webkit-scrollbar-thumb {
                border-radius: 8px;
                background-color: #202A3F;
            }
            
            ::-webkit-scrollbar-thumb:active {
                background-color: #141A26;
            }

            // ============= Search Bar Start
            .searchContainer{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                height: 10%;
                background-color: #fff;
                
                .searchForm {
                    height: 40px;
                    width: 95%;
                    background-color: #f7f7f7;
                    border-radius: 25px;
                    border: 1px solid rgb(184, 184, 184);
                    display: flex;
                    flex-direction: row;
                    // justify-content: center;
                    align-items: center;
                    padding: 5px 10px;
                    gap: 10px;

                    input {
                        width: 80%;
                        border: none;
                        outline: none;
                        font-size: 16px;
                        background-color: #f7f7f7;
                    }
                }

            }
            // ============= Search Bar End


            .userChats{
                background-color: #FFF;
                height: 90%;
                padding: 0;
                overflow-y: scroll;

                .userInfo:hover{
                    background-color: #ddddddad;
                    cursor: pointer;
                }

                .userInfo{
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    padding: 5px 10px;

                    .userProfile {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                    }

                    .userDetails {
                        display: flex;
                        width: 100%;
                        flex-wrap: wrap;
                        padding: 10px;
                        .userName {
                            font-size: 16px;
                            font-weight: 500;
                            width: 70%;
                        }
                        .messageTime {
                            color: #646464;
                            width: 30%;
                        }
                        .messageText{
                            color: #646464;
                            margin-top: 10px;
                        }
                    }

                }
            }
        }
        
        .chatBox {
            background-color: #FFFFFF;
            width: 70%;
            height: 100%;

            .chatHeader {
                height: 10%;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 20px;
                .userStats{
                    color: green;
                    font-weight: 600;
                }
                
                .callAction {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                }
            }

            .messageBox {
                height: 80%;
                background-color: #141A26;
                background-position: center;
                background-size: contain;
                background-repeat: round;
                padding: 0 20px;
                overflow-y: scroll;
                
                .message{   
                    display: flex;
                    flex-direction: column;
                    
                    
                    p{
                        margin: 5px 0;
                        padding: 10px 10px;
                        max-width: 60%;
                        width: fit-content;
                        border-radius: 15px 15px 15px 0;
                        background-color: #fff;
                    }
                }
                

            }

            ::-webkit-scrollbar {
                width: 6px;
            }
            
            ::-webkit-scrollbar-track {
                border-radius: 8px;
                background-color: #c1c2c5;
            }
            
            
            ::-webkit-scrollbar-thumb {
                border-radius: 8px;
                background-color: #202A3F;
            }
            
            ::-webkit-scrollbar-thumb:active {
                background-color: #141A26;
            }

            .input {
                height: 10%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 20px;
                border-top: 1px solid rgb(184, 184, 184);
                width: 100%;
                .send {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 10px;
                    
                    input{
                        display: none;
                    }
                }

                input{
                    width: 100%;
                    height: 50px;
                    font-size: 18px;
                    border: none;
                    appearance: none;
                    background-color: transparent;
                    outline: none;
                    &::placeholder{
                        color: lightgray;
                    }
                }
            }
        }
    }
}


// ====================== Media Query ======================

// For Mobile Screen
@media screen and (max-width: 425px) {
    .formContainer .formWrapper {
        padding: 10px !important;
        flex-direction: column-reverse !important;
        
        form .title {
            text-align: center !important;
        }
    }
    
    .formImage{
        align-items: center;
        img{
            width: 150px !important;
        }
 
    }

}
